.box {
    width: 900px;
    height: 500px;
    border: 2px solid black;
    border: none;
    position:relative;
  }
  .upper{
    width: 900px;
    height: 200px;
    background-color: #de1f25;
    border: 1px solid black;
  }
  .middle{
    width: 900px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid black;
  }
  .lower{
   
        width: 900px;
        height: 200px;
        background-color: #111196;
        border: 1px solid black;
    
  }
  .logo{
   width: 250px;
   height: 326px;
   top: 100px;
   left: 310px;
   position: absolute;
  }